<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Oops, the Page You Required Seems not Here</title>
</head>
<body>
<div style="margin-left: 5vw; margin-right: 5vw">
    <div style="background: black; padding:10px;width: 40vw;min-width: 240px">
        <img src="../staticImg/petC.png" style="height: 100px; width: auto">
        <hr>
    </div>
    <h1>404 Error</h1>
    <h3>Oops, the Page You Required Seems not Here : )</h3>
    <img src="../staticImg/error.gif">
</div>
</body>
</html>