
<div id="mainContentBody" class="container" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../css/AFDetail.css"/>
    <p id="identity" th:text="${adoption.id}">0000001</p>
    <h1 id="detailTitle" class="textCustom" th:text="${adoption.title}">Sample Title</h1>
    <label for="author">Publisher</label>
    <h3 id="author" class="textCustom" th:text="${publisher}">Sample User</h3>
    <label for="region">Region</label>
    <h3 id="region" class="textCustom" th:text="${adoption.location}">JiaDing</h3>
    <label for="phone">Phone</label>
    <h3 id="phone" class="textCustom" th:text="${phone}">13911111111</h3>

    <div id="imageShow" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <!-- implement the url with thymeleaf, AND DO KEEP the .active class for the FIRST div, and ONLY FOR the FIRST div -->
            <div class="carousel-item active" style="background-image: url('../staticImg/IMG_6344.JPG')">
            </div>
            <div class="carousel-item" style="background-image: url('../staticImg/IMG_6346.JPG')">
            </div>
            <div class="carousel-item " style="background-image: url('../staticImg/Sample1080_1920.jpg')">
            </div>
        </div>
        <a class="carousel-control-prev" href="#imageShow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageShow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <!-- details -->
    <p th:if="${adopt!=null}" th:text="${adopt.text}">Details Details Details Details Details Details Details Details Details Details
        Details Details Details Details Details Details Details Details Details Details Details
        Details Details Details Details Details Details </p>
</div>
