<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- TO DO: nav bar, image upload, href add -->
    <meta charset="UTF-8">
    <title>Fosterage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/bootstrap-datepicker.js"></script>
    <script src="../js/fileinput.min.js"></script>
    <script src="../js/fosterage.js"></script>

    <link rel="stylesheet" href="../css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="../css/fileinput.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.css"/>

    <link rel="stylesheet" href="../css/titleGroup.css"/>
    <link rel="stylesheet" href="../css/navi.css"/>
    <link rel="stylesheet" href="../css/fosterage.css"/>
    <!--Access this page through GET request with param of sort, filter and page-->
</head>
<body>

<div class="pageshow">
    <img  src="../staticImg/PageshowF.png"/>
    <p id="pageNum">Num</p>
</div>
<div class="container-fluid main">
    <div class="row pageBanner">
        <div class="logoGroup">
            <img src="../staticImg/petC.png"  class="logo"/>
            <img src="../staticImg/fosterage.png" class="titleLogo"/>
        </div>
    </div>
    <hr>

    <div class="col-lg-10 offset-lg-1 offset-sm-0 col-sm-12 columnGrid">
        <div class="grid">



            <!-- if not logged in, disable it -->
            <div class="grid-item" data-toggle="modal" data-target="#publishModal">
                <img class="addSearch" src="../staticImg/add.png"/>
            </div>





            <div class="grid-item" data-toggle="modal" data-target="#searchModal">
                <img class="addSearch" src="../staticImg/search.png"/>
            </div>
            <div th:each="FosterNote : ${list}">
                <!-- put the target url in the data-detailTarget -->
                <div class="grid-item  grid-item--width2" th:attr="data-detailTarget=@{'/foster/detail/'+${FosterNote.id}}" 
					 onclick="showDetail(this)">
					<img class="sample0" th:if="${FosterNote.titleimg} == null"    src="../staticImg/Sample1920_1080.jpg"/>
                    <img class="sample0" th:if="${FosterNote.titleimg} != null" th:src="@{${FosterNote.titleimg}}"/>
                    <div class="title">
                        <h3 class="titleText" th:text="${FosterNote.title}">This is a sample tile</h3>
                    </div>
                    <!--
                    <a th:href="@{'/foster/detail/'+${FosterNote.id}}" th:method="GET">link</a>
                    -->
                </div>
            </div>



            <!--previous page, directly add the previous page url here through thymeleaf -->

            <div class="grid-item" data-toggle="modal" th:if="${page} > 1">
                <a th:href="${prev}">
                    <img class="addSearch prebtn" src="../staticImg/previous.png" />
                </a>
            </div>


            <!--next page, directly add the next page url here through thymeleaf -->
            <div class="grid-item" data-toggle="modal" th:if="${page} < ${pages}">
                <a th:href="${next}">
                    <img class="addSearch nextbtn" src="../staticImg/next.png" />
                </a>
            </div>



        </div>
    </div>
</div>

<!-- The filter modal, use the form GET method to request the certain page -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search</h5>
            </div>
            <div class="modal-body">
                <form id="searchForm" method="get" role="form">
                    <div class="form-group">
                        <label for="searchText">Search for specific title</label>
                        <input placeholder="Empty for no specification" id="searchText" name="searchText" maxlength="20" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="regionSelect">Select region</label>
                        <select class="form-control" id="regionSelect" name="regionSelect">
                            <option>All</option>
                            <option>JiaDing</option>
                            <option>YangPu</option>
                            <option>SongJiang</option>
                            <option>Jing'An</option>
                            <option>HuangPu</option>
                            <option>ChongMing</option>
                            <option>PuTuo</option>
                            <option>FengXian</option>
                            <option>JinShan</option>
                            <option>HongKou</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kindSelect">Select pet kind</label>
                        <select class="form-control" id="kindSelect" name="kindSelect">
                            <option>All</option>
                            <option>Cats</option>
                            <option>Dogs</option>
                            <option>Birds</option>
                            <option>Fishes</option>
                            <option>Rabbits</option>
                            <option>Reptiles</option>
                            <option>Other</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"  data-target="" id="submitSearch" onclick="filterSubmit()" >Filter</button>
            </div>
        </div>
    </div>
</div>


<!-- The publish modal, use ajax to post the publish information -->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" data-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publish Your Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="publishForm" onsubmit="return false;"  role="form">
                    <div class="form-group">
                        <label for="newTitle">Title</label>
                        <textarea class="form-control" name="newTitle" id="newTitle" maxlength="140" placeholder="Describe your requirement briefly"
                                  required oninput="counterTitle();"></textarea>
                        <small id="titleCounter">0/140</small>
                    </div>
                    <div class="form-group">
                        <label for="newRegionSelect">Select region</label>
                        <select class="form-control" id="newRegionSelect" name="newRegionSelect">
                            <option>JiaDing</option>
                            <option>YangPu</option>
                            <option>SongJiang</option>
                            <option>Jing'An</option>
                            <option>HuangPu</option>
                            <option>ChongMing</option>
                            <option>PuTuo</option>
                            <option>FengXian</option>
                            <option>JinShan</option>
                            <option>HongKou</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newKindSelect">Select pet kind</label>
                        <select class="form-control" id="newKindSelect" name="newKindSelect">
                            <option>Cats</option>
                            <option>Dogs</option>
                            <option>Birds</option>
                            <option>Fishes</option>
                            <option>Rabbits</option>
                            <option>Reptiles</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newDate">Start Date</label>
                        <input class="form-control" type="text" readonly required placeholder="The date you want to start"  id="newDate"
                               name="newDate"/>
                    </div>

                    <div class="form-group">
                        <label for="newContent">Details</label>
                        <textarea class="form-control" name="newContent" id='newContent' maxlength="800" placeholder="Details about your pet and requirement"
                                  required oninput="counterDetail();"></textarea>
                        <small id="detailCounter">0/800</small>
                    </div>
                </form>
                <div >
                    <label for="imgInput">Put your photos here (at most 3)</label>
                    <input type="file" id="imgInput" name="imgInput[]" multiple/>
                </div>
                <div id="errorText">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"  id="submitPublish" onclick="publishSubmit()">Publish</button>
            </div>
        </div>
    </div>
</div>

<!-- The modal used to show detail page -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="msgTitle">Msg</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msgContent"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>



<a href="#navi" class="navi-trigger"> <span class="navi-icon"> <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54"></svg> </span> </a>
<div id="navi" class="navi">
    <div class="navigation-wrapper">
        <div class="half-block">
            <nav>
                <ul class="primary-navi">
                    <li><a href="/main">Home</a></li>
                    <li><a href="/share">Share</a></li>
                    <li><a href="/adoption">Adoption</a></li>
                    <li><a href="/fosterage"  class="selected">Fosterage</a></li>
					<li th:if="${username}==null"><a href="/login"> Sign In</a></li>
					<li th:if="${username}"><a href="/user/info" th:text="${username}"><span class="badge badge-light" th:if="${unread}">New</span>Sign In</a></li>
                    <!-- keep the space " "  at the beginning of the text when change "sign in" to <username>
                    & maybe the "new" should be a num-->
                </ul>
            </nav>
        </div>
    </div>
</div>



</body>
</html>