<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fosterage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/fosterage.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/fosterage.css"/>
    <!--Access this page through GET request with param of sort, filter and page-->
</head>
<body>
<div class="container-fluid">
    <div class="grid col-lg-10 offset-lg-1 offset-sm-0 col-sm-12">
        <div class="grid-item" >
            <img class="addSearch" src="../staticImg/add.png"/>
        </div>
        <div class="grid-item" data-toggle="modal" data-target="#searchModal">
            <img class="addSearch" src="../staticImg/search.png"/>
        </div>



        <!-- --below--Sample blocks, use a 20-size array to implement it through thymeleaf -->
        <div class="grid-item  grid-item--width2">
            <img class="sample0" src="../staticImg/Sample1920_1080.jpg"/>
            <h3 class="title">This is a sample tile</h3>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample1" src="../staticImg/Sample1080_1920.jpg"/>
            <h3 class="title">This is a very looooooooooooong sample tile</h3>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample2" src="../staticImg/Sample1280_1280.jpg"/>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample1" src="../staticImg/Sample1080_1920.jpg"/>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample0" src="../staticImg/Sample1920_1080.jpg"/>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample0" src="../staticImg/Sample1920_1080.jpg"/>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample2" src="../staticImg/Sample1280_1280.jpg"/>
        </div>
        <div class="grid-item  grid-item--width2">
            <img class="sample1" src="../staticImg/Sample1080_1920.jpg"/>
        </div>
        <!-- --above-- Sample blocks, use a 20-size array to implement it through thymeleaf -->

        <!-- detail display in progress! -->
        <!-- publish display in progress! -->

        <!--previous page, directly add the previous page url here through thymeleaf -->
        <div class="grid-item" data-toggle="modal">
            <img class="addSearch" src="../staticImg/previous.png"/>
        </div>


        <!--next page, directly add the previous page url here through thymeleaf -->
        <div class="grid-item" data-toggle="modal">
            <img class="addSearch" src="../staticImg/next.png"/>
        </div>



    </div>
</div>
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search</h5>
                </div>
                <div class="modal-body">
                    <form id="searchForm" method="get" role="form">
                        <div class="form-group">
                            <label for="searchText">Search for specific title</label>
                            <input placeholder="Empty for no specification" id="searchText" name="searchText" maxlength="20" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="regionSelect">Select region</label>
                            <select class="form-control" id="regionSelect" name="regionSelect">
                                <option>All</option>
                                <option>JiaDing</option>
                                <option>YangPu</option>
                                <option>SongJiang</option>
                                <option>Jing'An</option>
                                <option>HuangPu</option>
                                <option>ChongMing</option>
                                <option>PuTuo</option>
                                <option>FengXian</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="kindSelect">Select pet kind</label>
                            <select class="form-control" id="kindSelect" name="kindSelect">
                                <option>All</option>
                                <option>Cats</option>
                                <option>Dogs</option>
                                <option>Birds</option>
                                <option>Fishes</option>
                                <option>Rabbits</option>
                                <option>Reptiles</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"  data-target="" id="submitSearch" onclick="filterSubmit()" >Filter</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>