
<div id="mainContentBody" class="container" xmlns:th="http://www.thymeleaf.org">
    <script src="../js/shareDetail.js"></script>
    <link rel="stylesheet" href="../css/AFDetail.css"/>
    <link rel="stylesheet" href="../css/comment.css"/>
    <p id="identity">0000001</p>
    <h1 id="detailTitle" class="textCustom">Sample Title</h1>
    <label for="author">Author:</label>
    <h3 id="author" class="textCustom">Sample User</h3>
    <div id="slides" class="banner" >
        <ul>
            <!-- put the picture url here, use th:each -->
            <li id="Slider1" style="background-image: url('../staticImg/IMG_6344.JPG')">

            </li>
            <li id="Slider2" style="background-image: url('../staticImg/IMG_6344.JPG')">

            </li>
            <li id="Slider3" style="background-image: url('../staticImg/IMG_6344.JPG')">

            </li>
        </ul>
    </div>
    <!-- details -->
    <p th:if="${adopt!=null}" th:text="${adopt.text}">Details Details Details Details Details Details Details Details Details Details
        Details Details Details Details Details Details Details Details Details Details Details
        Details Details Details Details Details Details </p>



    <div id="btnContainer">
        <button class="btn btn-primary btn-block" id="endorseBtn" onclick="endorse()"><span class="glyphicon glyphicon-heart"></span> Endorse</button>
        <button class="btn btn-secondary btn-block" id="commentBtn"  onclick="comment()"><span class="glyphicon glyphicon-comment"></span> Comment</button>
    </div>
    <div class="collapse" id="clps">
        <form id="commentForm"  onsubmit="return false" >
            <div class="form-group">
                <label for="commentBox">Comment</label>
                <textarea class="form-control" id="commentBox" name="newComment" placeholder="Write your comment here"
                          maxlength="400" oninput="wordCount()"></textarea>
                <small id="commentCounter">0/400</small>
            </div>
            <div id="submitGroup" class="form-group">
                <button class="btn btn-outline-primary" type="button" id="commentSubmitBtn" onclick="commentSubmit()" >Submit</button>
            </div>
        </form>
        <hr>




        <div id="commentContainer" class="container">

            <!-- sample comment -->
            <div class="card commentCard">
                <h5 class="card-header"><span class="glyphicon glyphicon-comment"></span> User: </h5>
                <div class="card-body">
                    <p class="card-text">This is very very very freaking awesome!! I'm really really really really serious you know.</p>

                </div>
                <div class="card-footer">
                    2018/12/12
                    <!-- publish time -->
                </div>
            </div>


            <div class="card commentCard">
                <h5 class="card-header"><span class="glyphicon glyphicon-comment"></span> User: </h5>
                <div class="card-body">
                    <p class="card-text">This is very very very freaking awesome!! I'm really really really really serious you know.</p>

                </div>
                <div class="card-footer">
                    2018/12/12
                    <!-- publish time -->
                </div>
            </div>
            <!-- sample comment -->

        </div>
    </div>



</div>

