<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="../css/flexslider.css" type="text/css" rel="stylesheet"  media="all">
    <link href="../css/font-awesome.css" type="text/css" rel="stylesheet">
    <script src="../js/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/userInfo.css">
    <link rel="stylesheet" href="../css/titleGroup.css"/>
    <link rel="stylesheet" href="../css/navi.css"/>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
    <script src="../js/imagesloaded.pkgd.min.js"></script>
    <script src="../js/userInfo.js"></script>
    <script src="../js/mark.js"></script>


    <link href="../css/navi.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../css/userInfo.css">


</head>
<body>
      <div class="container-fluid main">
          <div class="pageBanner row">
              <div class="logoGroup">
                  <img src="../staticImg/petC.png"  class="logo"/>
                  <img src="../staticImg/userinfo.png" class="titleLogo"/>
              </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 GeneralInfo">
                  <div class="personalPhoto">
                      <img class="img-circle img-responsive center-block" id="headSculpture" src="../staticImg/img1.jpg">
                      <!--put personal photo-->
                  </div>
                  <div class="page-header"></div>
                  <h2  class="text-center" th:text="'Name: '+${username}">Name: Cindy</h2>
                  <!--User name-->
                  <h4 class="text-center" th:text="'Tel: '+${tel}">Dog lovers| Volunteer</h4>
                  <!--general describe-->
                  <div class="page-header"></div>
              </div>


              <div class="col-md-8 tab-pane" id="detailInfo">
                  <ul id="myTab" class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="nav-link active" href="#Personal" role="tab" data-toggle="tab">
                              Personal
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Adoption" role="tab" data-toggle="tab">Adoption</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Fosterage" role="tab" data-toggle="tab">Fosterage</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#Share" role="tab" data-toggle="tab">Share</a>
                      </li>
                  </ul>
                  <div class="page-header"></div>
                  <div id="myTabContent" class="tab-content">
                      <!--Personal infomation-->
                      <div class="tab-pane fade show active" id="Personal">
                          <div class="dropdown-divider"></div>
                          <div id="aboutMe">
                          <h1>About Me</h1>
                          <p>Personal Infomation<br>
                          Personal Infomation<br>
                          Personal Infomation<br>
                          Personal Infomation<br>
                          Personal Infomation<br>
                          Personal Infomation</p>
                          <br>
                          <br>
                          <br>
                          <br>
                          </div>
                          <div class="page-header"></div>
                          <div id="personalInfo">
                          <h1>Personal Infomation</h1>
                          <p>Phone Number: <a>12345678910</a></p>
                          <p>other infomation</p>
                          </div>
                      </div>
                      <!--Adoption infomation-->
                      <div class="masonry-container tab-pane fade" id="Adoption">
                          <div class="adoptionInfo" th:each="AdoptNote : ${adoptionList}">
                              <div class="col-md-4 col-sm-6 item">
                                  <div class="card">
                                      <img class="card-img-top" src="../staticImg/1.jpg" alt="" th:attr="data-detailTarget=@{'/user/adopt/detail/'+${AdoptNote.id}}" onclick="showDetail(this)">
                                      <!--在自己个人页面显示detail页面时，页面的按钮不显示-->
                                      <div class="card-body">
                                          <h5 class="card-title">Adoption Name</h5>
                                          <p class="card-text">General Infomation </p>
                                          <p><a href="#" class="btn btn-primary" data-detailTarget="userInfoDetailPage.html" onclick="showInfo(this)" role="button">Info    </a>
                                              <a href="#" class="btn btn-danger" th:attr="data-detailTarget=@{'/foster/detail/id3'}" role="button" onclick="deleteData(this)">Delete</a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--Fosterage infomation-->
                      <div class="masonry-container tab-pane fade" id="Fosterage">
                          <!--<div id="fosterageInfo" th:each="FosterNote : ${list}">-->
                          <div id="fosterageInfo" th:each="FosterNote : ${fosterList}">
                              <div class="col-md-4 col-sm-6 item" >
                                  <div class="card">
                                      <img class="card-img-top" src="../staticImg/1.jpg" alt="" th:attr="data-detailTarget=@{'/user/foster/detail/'+${FosterNote.id}}" onclick="showDetail(this)">
                                      <div class="card-body">
                                          <h5 class="card-title">Fosterage Name</h5>
                                          <p class="card-text">General Infomation </p>
                                          <p><a href="#" class="btn btn-primary"
                                          th:attr="data-detailTarget=@{'/user/foster/show/'+${FosterNote.id}}" 
                                          onclick="showInfo(this)" role="button">Info </a>
                                              <a href="#" class="btn btn-default"  th:attr="data-detailTarget=@{'/foster/detail/id3'}" role="button" onclick="deleteData(this)">Delete</a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--Share infomation-->
                      <div class="masonry-container tab-pane fade" id="Share">
                          <div id="shareInfo"  th:each="ShareNote : ${shareList}">
                              <div class="col-md-4 col-sm-6 item">
                                  <div class="card">
                                      <img class="card-img-top" src="../staticImg/img3.jpg" alt="" th:attr="data-detailTarget=@{'/user/share/detail/'+${ShareNote.id}}" onclick="showInfo(this)">
                                      <div class="card-body">
                                          <h5 class="card-title">Share Name</h5>
                                          <p class="card-text">General Infomation </p>
                                          <p><a href="#" class="btn btn-primary" data-detailTarget="userInfoDetailPage.html" onclick="showInfo(this)" role="button">Detail</a>
                                              <a href="#" class="btn btn-default"  th:attr="data-detailTarget=@{'/foster/detail/id3'}" role="button" onclick="deleteData(this)">Delete</a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
          </div>
      </div>
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                  </div>
              </div>
          </div>
      </div>


</div>







      <a href="#navi" class="navi-trigger"> <span class="navi-icon"> <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54"></svg> </span> </a>
      <!-- Hidden Navi Menu -->
      <!--这个模板可以套用-->
      <div id="navi" class="navi">
          <div class="navigation-wrapper">
              <div class="half-block">
                  <nav>
                      <ul class="primary-navi">
                          <li><a href="/main" class="selected">Home</a></li>
                          <li><a href="/share">Share</a></li>
                          <li><a href="/adoption">Adoption</a></li>
                          <li><a href="/fosterage">Fosterage</a></li>
							<li th:if="${username}==null"><a href="/login"><span class="badge badge-light">New</span> Sign In</a></li>
							<li th:if="${username}"><a href="/user/info" th:text="${username}">Sign In</a></li>
                          <!--若用户登录点击显示用户个人信息页，否则显示登录页面-->
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <script>
          jQuery(document).ready(function($){
              var isLateralNavAnimating = false;

              //open/close lateral navigation
              $('.navi-trigger').on('click', function(event){
                  event.preventDefault();
                  //stop if nav animation is running
                  if( !isLateralNavAnimating ) {
                      if($(this).parents('.csstransitions').length > 0 ) isLateralNavAnimating = true;

                      $('body').toggleClass('navigation-is-open');
                      $('.navigation-wrapper').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
                          //animation is over
                          isLateralNavAnimating = false;
                      });
                  }
              });
          });
      </script>
</body>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

    var $container =$('.masonry-container');
    $container.imagesLoaded( function () {
        $container.masonry({
            columnWidth: '.item',
            itemSelector: '.item'
        });
    });

    $('a[data-toggle=tab]').each(function () {
        var $this = $(this);
        $this.on('shown.bs.tab', function () {
            $container.imagesLoaded( function () {
                $container.masonry({
                    columnWidth: '.item',
                    itemSelector: '.item',
                    gutter: 10,
                });
            });
        });
    });



</script>
</html>