
<div class="panel-group" id="accordion"  xmlns:th="http://www.thymeleaf.org">
    <h2>Select Candidates</h2>
    <div class="dropdown-divider"></div>
    <div class="panel panel-default" th:each="Candidate : ${candidates}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <table class="table table-striped">
                    <tbody>
                    <tr >
                        <td th:text="${Candidate.username}">name</td>
                        <td class="right">
                            <a class="glyphicon glyphicon-ok-sign" data-toggle="collapse" data-placement="bottom" title="Confirm" data-parent="#accordion"
                               href="#" data-person_id="id" data-card_id="cardid" 
                               th:attr="data-detailTarget=@{'/user/fosterage/confirm/'+${id}}+'/'+${Candidate.applier}" onclick="confirm(this)"></a>
                            <a class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-placement="bottom" title="Detail" data-parent="#accordion"
                               href="#" th:href="@{'#collapse'+${Candidate.applier}}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </h4>
        </div>
        <div id="collapseThree" th:id="collapse+${Candidate.applier}" class="panel-collapse collapse">
            <div class="panel-body">
                <!--personal info-->
                <div class="tab-pane fade show active">
                    <div>
                        <h1 th:text="${Candidate.username}" >Bob</h1>
                    </div>
                    <div class="page-header"></div>
                    <div>
                        <h1>Personal Infomation</h1>
                        <p>Phone Number: <a th:text="${Candidate.user_tel}">12345678910</a></p>
                        <p>Score: <a th:text="${Candidate.user_score}">12345678910</a></p>
                        <p>Times: <a th:if="${Candidate.times}" th:text="${Candidate.times}">12345678910</a><a th:if="${Candidate.times}==null" >0</a></p>
                        <p>date: <a th:text="${#dates.format(Candidate.apply_time, 'yyyy-MM-dd HH:mm:ss')}">0/0/0/0/0</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</body>-->
<!--</html>-->