<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>Bootstrap 实例 - 折叠面板</title>-->
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<div class="panel-group" id="accordion"  xmlns:th="http://www.thymeleaf.org">
    <h2>Select Candidates</h2>
    <div class="dropdown-divider"></div>
    <div class="panel panel-default" th:each="Candidate : ${candidates}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <table class="table table-striped">
                    <tbody>
                    <tr >
                        <td th:text="${Candidate.username}">帖子相关人的名字</td>
                        <!--帖子未确认前显示如下按钮-->
                        <!--确认后显示已确认-->
                        <td>
                            <a class="glyphicon glyphicon-ok-sign" data-toggle="collapse" data-parent="#accordion"
                               href="#" data-person_id="id" data-card_id="cardid" 
                               th:attr="data-detailTarget=@{'/user/fosterage/confirm/'+${id}}+'/'+${Candidate.applier}" onclick="confirm(this)"></a>
                            <a class="glyphicon glyphicon-info-sign" data-toggle="collapse" data-parent="#accordion"
                               href="#" th:href="@{'#collapse'+${Candidate.applier}}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </h4>
        </div>
        <div id="collapseThree" th:id="collapse+${Candidate.applier}" class="panel-collapse collapse">
            <div class="panel-body">
                <!--3333333333333333333333333333333333333333这里可以填对帖子感兴趣的人详细的信息。可以放名字，性别，感兴趣的事，个人介绍，评分-->
                <div class="tab-pane fade show active">
                    <div>
                        <h1 th:text="${Candidate.username}" >Bob</h1>
                        <p >
                            Personal Infomation</p>
                    </div>
                    <div class="page-header"></div>
                    <div>
                        <h1>Personal Infomation</h1>
                        <p>Phone Number: <a th:text="${Candidate.user_tel}">12345678910</a></p>
                        <p>other infomation</p>
                        <p>Score: <a th:text="${Candidate.user_score}">12345678910</a></p>
                        <p>date: <a th:text="${#dates.format(Candidate.apply_time, 'yyyy-MM-dd HH:mm:ss')}">0/0/0/0/0</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</body>-->
<!--</html>-->