

.pageBanner{
    height: 300px;
    margin-bottom: 20px;
    background-image: url("../staticImg/bannerBGA.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

}







.sample0,.sample1,.sample2{
    width: 100%;
    height: auto;
}


.grid{
    max-width: 90vw;

}

.addSearch{
    width:100%;
    height:auto;
    transition: all 0.5s;
}
.addSearch:hover{
    transform: scale(1.05);


}

.grid-item {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 20px;
    width: 160px;
}


.grid-item--width2 {
    width: 320px;
    overflow: hidden;
    transition: all 0.5s;
}
.grid-item--width2:hover{
    transform: scale(1.03);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}


.titleText{
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.title{
    overflow:hidden;
    position: absolute;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
    color: #FFFFFF;
    margin: 0;
    left: 0;
    right: 0;
    word-break: break-word;
    max-height: 40%;
}

#errorText{
    margin-top:10px;
}

.grid-item--width2:hover >.title{
    -webkit-line-clamp: 6;
    line-clamp: 6;


}


