#mainContentBody{
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: grey;
}
#identity{
    display:none;
}
.textCustom{
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color:dodgerblue;
}

.carousel-item{
    width: 100%;
    height:460px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#imageShow{
    margin-top: 20px;
    margin-bottom: 20px;
}