body{
    height: 100vh;
    width: 100vw;

}

#mainContainer{
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0;
}

.container-fluid{
    position:absolute;
    height: 100%;
    padding:5%;
    margin:0;
    left:0;
    top:0;
}
#loginRow{
    position:relative;
    top:20%;
}
#btnGroup{
    margin-top: 40px;
}
#btnGroup .row{
    margin-top: 5px;
    margin-bottom: 10px;
}

#btnSubmit{
}
#btnSignUp{
}
#signUpform input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 18px;
}
#signUpform .form-group{
    margin: 6px;
}





#loginForm{
    background-color: rgba(255,255,255,0.9);
    horiz-align: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: #1d2124;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-control:focus{
    z-index: 2;
}
#userName{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 18px;
}
#passWord{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 18px;
}
.form-group{
    margin-top: 6px;
    margin-bottom: 6px;
}
.loginTitle{
    margin-bottom: 20px;
    font-size: 36px;
}

.banner{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding:0;
    margin:0;
}
#slides ul{
    height: 100%;
    width:100%;
    padding:0;
    margin: 0;
}
#Slider1{

    background: url("../staticImg/IMG_6344.JPG") no-repeat center;
    background-size: cover;
    list-style: none;
    float:left;
	height: 100vh;
}
#Slider2{

    background: url("../staticImg/IMG_6346.JPG") no-repeat center;
    background-size: cover;
    list-style: none;
    float:left;
	height: 100vh;
}
#Slider3{

    background: url("../staticImg/IMG_6348.JPG") no-repeat center;
    background-size: cover;
    list-style: none;
    float:left;
	height: 100vh;
}
