body{
    background-color: #ccccd6;
    /*background-color: rgba(204,204,214,0.5);*/
}

#headSculpture{
    border-radius: 50%;
}


.pageBanner{
    height: 300px;
    margin-bottom: 20px;
    background-image: url("../staticImg/bannerBGU.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

}


.starBtn{
    font-size: 25px;
    padding-left: 10px;
    padding-left: 10px;
    color: black;
}

#detailInfo{
    padding-left: 40px;
}

/*#btn-circle{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    /*padding: 6px 0;*/
    /*font-size: 12px;*/
    /*line-height: 1.428571429;*/
    /*border-radius: 15px;*/
    /*position: relative;*/
/*}*/

.GeneralInfo{
    background-color:#baccd9;
    padding:10px;
    text-align: center;
    margin-bottom: 20px;
}

.detailInfo{
    background-color: white;
}

.item{
    margin-top: 5px;
    margin-bottom: 5px;
}

#myTab{
    position: center;
}


.personalPhoto{
    margin-bottom:15px;
    margin-top:5px;
}





.right{
    float:right;
}