body{
    background-color: #ccccd6;
    /*background-color: rgba(204,204,214,0.5);*/
}

#headSculpture{
    border-radius: 50%;
}

span{
    font-size: 25px;
    padding-left: 10px;
    padding-left: 10px;
    color: black;
}

#detailInfo{
    padding-left: 40px;
}

/*#btn-circle{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*text-align: center;*/
    /*padding: 6px 0;*/
    /*font-size: 12px;*/
    /*line-height: 1.428571429;*/
    /*border-radius: 15px;*/
    /*position: relative;*/
/*}*/

.GeneralInfo{
    background-color:#baccd9;
}

.detailInfo{
    background-color: white;
}

#myTab{
    position: center;
}
